<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <button mat-raised-button color="primary" >Ajouter Projet</button>
                        <button mat-raised-button color="primary" class="ml-4">Exporter</button>
                    </div>
                    <div class="card-body">
                        <mat-form-field appearance="standard">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Chercher un projet" #input>
                        </mat-form-field>

                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>

                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ref">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Réference</th>
                                    <td mat-cell *matCellDef="let row"> {{row.ref}} </td>
                                </ng-container>
                                <ng-container matColumnDef="debut">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DateDébut</th>
                                    <td mat-cell *matCellDef="let row"> {{row.debut}} </td>
                                </ng-container>

                                <!-- nom Column -->
                                <ng-container matColumnDef="desc">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
                                    <td mat-cell *matCellDef="let row"> {{row.desc}}</td>
                                </ng-container>
                                <ng-container matColumnDef="ville">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ville</th>
                                    <td mat-cell *matCellDef="let row"> {{row.ville}}</td>
                                </ng-container>
                                <ng-container matColumnDef="etat">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat</th>
                                    <td mat-cell *matCellDef="let row"> {{row.etat}}</td>
                                </ng-container>

                                <!-- date Column -->
                                <ng-container matColumnDef="pv">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PV</th>
                                    <td mat-cell *matCellDef="let row"> {{row.pv}} </td>
                                </ng-container>


                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                    <td mat-cell *matCellDef="let row">
                                        <button mat-icon-button (click)="editProject(row)" color="primary">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="deleteProject(row.id)" color="warn">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                           aria-label="Select page of users"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <button mat-raised-button color="primary" >Ajouter Convention </button>
                        <button mat-raised-button color="primary" class="ml-4">Exporter</button>
                    </div>
                    <div class="card-body">
                        <mat-form-field appearance="standard">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Chercher un projet" #input>
                        </mat-form-field>

                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>

                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ref">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Réference</th>
                                    <td mat-cell *matCellDef="let row"> {{row.ref}} </td>
                                </ng-container>
                                <ng-container matColumnDef="lib">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Libelle</th>
                                    <td mat-cell *matCellDef="let row"> {{row.lib}} </td>
                                </ng-container>

                                <!-- nom Column -->
                                <ng-container matColumnDef="org">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Organisme</th>
                                    <td mat-cell *matCellDef="let row"> {{row.org}}</td>
                                </ng-container>
                                <ng-container matColumnDef="debut">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DateDébut</th>
                                    <td mat-cell *matCellDef="let row"> {{row.debut}}</td>
                                </ng-container>


                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                    <td mat-cell *matCellDef="let row">
                                        <button mat-icon-button (click)="editConvention(row)" color="primary">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="deleteConvention(row.id)" color="warn">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                           aria-label="Select page of users"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
