<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <button mat-raised-button color="primary" >Importer</button>
                        <button mat-raised-button color="primary" class="ml-4">Exporter</button>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Aff</th>
                                <th>Qualite</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>NomPrenom</th>
                                <th>NomAr</th>
                                <th>PrenomAr</th>
                                <th>CINN</th>
                                <th>CIN</th>
                                <th>PPRR</th>
                                <th>PPR</th>
                                <th>Naissance</th>
                                <th>DAteNaissance</th>
                                <th>Photo</th>
                                <th>CINN-Conj</th>
                                <th>CIN-Conj</th>
                                <th>Adherent</th>
                                <th>NomAdherent</th>
                                <th>PrenomAdherent</th>
                                <th>CINN-Adherent</th>
                                <th>CIN-Adherent</th>
                                <th>PPRR-Adherent</th>
                                <th>PPR-Adherent</th>
                                <th>PPR-Adherent</th>
                                <th>VERSOCARTE</th>
                                <th>AFF1</th>
                                <th>AFF2</th>
                                <th>NVAL</th>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
