<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <button mat-raised-button color="primary" >Ajouter</button>
                        <button mat-raised-button color="primary" class="ml-4" >Exporter</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Cin</th>
                                <th>numArr</th>
                                <th>DateArr</th>
                                <th>Type</th>
                                <th>Etat</th>
                                <th>ChargeCas</th>
                                <th>Impor</th>
                                <th>Reçu</th>
                                <th>Notes</th>
                                <th>Résultat</th>
                                <th>Modérateur</th>
                                <th>Action</th>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mason Porter</td>
                                    <td>EE125487</td>
                                    <td>123</td>
                                    <td>06-05-2022</td>
                                    <td>Adh</td>
                                    <td>En cours</td>
                                    <td></td>
                                    <td></td>
                                    <td>oui</td>
                                    <td></td>
                                    <td></td>
                                    <td>Ilham</td>
                                    <td>
                                        <button mat-icon-button color="primary">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
